/* graphics.css
   $Id: graphics.css,v 1.3 2004/04/11 20:05:13 flik9x Exp $
   full graphics stylesheet */

a {
  text-decoration: none;
  color: rgb(51, 102, 153);
  background-color: transparent;
}

a:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(51, 102, 153);
}

img { border: 0; }

.sig { text-align: right; }

.center { text-align: center; }

.left { float: left; }
.right { float: right; }

body {
  color: rgb(51, 51, 102);
  background-color: rgb(255, 255, 255);
/*  background: url("../images/background.jpg") white no-repeat scroll 50% 20px; */
  font-family: verdana, helvetica, sans-serif;
}

table.main {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

table.main td.menu {
  text-align: center;
  width: 100%;
  background: url("../images/topbar.png");
}

table.menu {
  margin-left: auto;
  margin-right: auto;
}

table.menu td {
  color: rgb(51, 51, 102);
  background-color: rgb(255, 255, 255);
  font-size: smaller;
}

table.menu td.menuleft a, table.menu td.menuright a {
  display: block;
  padding: 2px;
  border-bottom: 1px solid rgb(51, 51, 102);
}

table.menu td.menuleft a { text-align: right; }

table.menu td.menuright a { text-align: left; }

table.menu td.menucenter {
  border-style: solid;
  border-color: rgb(51, 51, 102);
  border-width: 0px 1px 1px 1px;
  text-align: center;
}

table.main td.tail { text-align: center; }

td.tail .icons { display: block; }

td.tail .footer { font-size: smaller; }

table.division {
  float: left;
}

table.box, table.news, table.code {
  width: 100%;
  font-size: smaller;
}

table.box td.title, table.news td.title, table.code td.title {
  border: 1px solid rgb(51, 51, 102);
  background: url("../images/sidebar.png");
}

table.box td.title, table.code td.title {
  text-align: center;
}

table.news td.title {
  text-align: left;
}

table.news td.title img {
  vertical-align: middle;
}

table.box td.body, table.news td.body, table.code td.body {
  border-style: solid;
  border-color: rgb(51, 51, 102);
  border-width: 0px 1px 1px 1px;
  background: url("../images/itmbbg.gif");
}

table.news td.body {
  font-size: smaller;
}

table.code td.body {
  font-family: monospace;
}

table.box .full {
  width: 100%;
}
